.container {
  display: flex;
  flex-wrap: wrap;
  cursor: default;

  .item {
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
    width: 21px;
    height: 21px;
    line-height: 1;
  }
}
